body {
  color: white;
  background-color: #161616
}

.default-btn {
  background-color: #363636;
  border: 1px solid white;
  color: white;
  opacity: 1;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: none;
}

.default-btn:hover {
  opacity: 1;
  background-color: #525252;
  box-shadow: 1px 1px 5px black;
}

.default-btn:active {
  opacity: 1;
  background-color: #363636;
  box-shadow: none;
}

.default-btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.default-btn:focus {
  outline: none;
}

.progress-container {
  height: 25px;
  width:100px;
  background-color: #000000;
  position:relative;
}

.progress-container .progress-bar {
  position: absolute;
  height:100%;
  width:50%;
  background-color: #ffd500;
}

.progress-container .progress-text {
  position:absolute;
  text-align: center;
  right:0;
  left:0;
  top:50%;
  transform: translateY(-50%);
  color:rgb(255, 255, 255);
  text-shadow: 1px 1px 5px black;
}